.swiper-wrapper--laptop {
  display: flex;
  position: relative;
}
.text__laptop-cart {
  position: absolute;
  font-size: 16px;
  top: 5px;
  left: 16px;
}
.slider__laptop {
  padding-top: 32px;
}
.check__cart {
  position: absolute;
  bottom: 20px;
  left: 190px;
}
.swiper--laptop {
  width: 240px;
  height: 160px;
  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}
.block__laptop {
  position: relative;
  width: 240px;
  height: 160px;
  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}
.flex__laptop {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.text__laptop-flex {
  font-family: "TT Lakes";
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;
}
.laptop--invase {
  display: none;
}

@media (min-width: 320px) {
  .swiper-slide--laptop {
    background-color: #fff;
    border-radius: 10px;
  }

  .flex__laptop {
    display: none;
  }
}

@media (min-width: 768px) {
  .flex__laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  div.swiper--laptop {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }

  .laptop--invases {
    display: none;
  }
  .check__cart-info {
    position: absolute;
    bottom: 20px;
    left: 180px;
    z-index: 4;
  }
}
@media (min-width: 1440px) {
  .flex__laptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  div.swiper--laptop {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }
  .laptop--invases {
    display: flex;
  }
  .check__cart-info {
    position: absolute;
    bottom: 20px;
    left: 190px;
  }
}
