.menu__list-cps {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu__list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-decoration: none;
  list-style: none;
}
.repair {
  margin-top: 36px;
  margin-bottom: 238px;
}
.menu__burger-nav {
  margin-top: 50px;
}
.repair,
.repair__link-nav {
  list-style: none;
  text-decoration: none;
  color: rgb(27, 28, 33);
  font-family: "TT Lakes";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.repair--active {
  color: rgb(126, 126, 130);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
}

.repair__menu-ist-item {
  margin-bottom: 20px;
}
.repair__link-nav:hover {
  max-width: 248px;
  max-height: 40px;
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
  box-sizing: border-box;
}

.informatiounOfUser {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.repair__menu-list-cps {
  display: flex;
  margin-top: 36px;
  margin-bottom: 238px;
}

.img__stick-active {
  position: absolute;
  width: 4px;
  height: 32px;
  left: 20px;
}

.gmail {
  margin-top: 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: left;
  padding-left: 30px;
}

.gmail__text {
  color: rgb(27, 28, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
}

.informatiounOfUser {
  display: flex;
  justify-content: left;
  padding-left: 30px;
}

.phone {
  display: flex;
  justify-content: left;
  padding-left: 30px;
  margin-bottom: 40px;
}

.phone__num {
  color: rgb(27, 28, 33);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.languges {
  display: flex;
  justify-content: left;
  padding-left: 30px;
  margin-bottom: 20px;
  gap: 20px;
}

.languges__href {
  text-decoration: none;
  color: rgb(27, 28, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.active--class {
  color: rgb(126, 126, 130);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
@media (min-width: 320px) {
  .header {
    position: relative;
    z-index: 2;
  }
  .block__input {
    display: grid;
  }
  .burger__menu {
    display: none;
  }
  .show {
    position: absolute;
    top: 0;
    display: inline;
    background-color: #fff;
    z-index: 3;
    left: 0;
    width: 330px;
    bottom: 0;
    right: 0;
    background: #fff;
    height: 2000px;
  }
}

@media (min-width: 768px) {
  .burger__menu {
    display: none;
    background-color: #fff;
  }

  .show {
    position: absolute;
    display: inline;
    box-shadow:
      16px 0px 52px 0px rgba(14, 24, 80, 0.2),
      -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    background-color: #fff;
    left: 0;
    z-index: 3;
    width: 320px;
  }
}

@media (min-width: 1440px) {
  .burger__menu {
    display: inline;
    color: #040404;
    font-size: 14px;
    font-weight: 400;
    font-family: "TT Lakes";
    background: rgb(255, 255, 255, 0);
    width: 320px;
    height: 1850px;
    background: rgb(255, 255, 255);
    box-shadow: none;
  }
  .show {
    margin-left: 0px;
    display: inline;
    background-color: #fff;
    z-index: 3;
    width: 320px;
  }
  .menu-img {
    display: none;
  }
}
