@font-face {
    font-family: 'TT Lakes Thin';
    src: url('TTLakes-Thin.eot');
    src: url('TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Thin.woff') format('woff'),
    url('TTLakes-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }